{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./node_modules/"],
      "alias": {
        "dir1": "./src/Dir1",
        "dir2": "./src/Dir2"
      }
    }]
  ]
}